/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */

/* Общие */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #f5f4fa;
  --secondary-button-bgc: #188ce8;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
}
.list {
  list-style: none;
}
.text {
  color: var(--secondary-text-color);
}

/* кнопка */
.button {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: inherit;
}
.button:hover,
.button:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}
.button.primary {
  background-color: var(--accent-text-color);
  color: var(--white-color);
  font-family: inherit;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--secondary-button-bgc);
}
.filters .button.current {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}
/* Логотип */
.logo {
  color: var(--accent-text-color);
}
.top-logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.bot-logo {
  color: var(--white-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* шапка */
.site-nav .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-nav .link {
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.contact-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:focus {
  color: var(--accent-text-color);
}

/* герой */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--white-color);
}

/* особенности */

/* чем мы занимаемся */

/* команда */
.team {
  background-color: var(--background-color);
}

/* подвал */
.bot {
  background-color: #2f303a;
}
.maps {
  color: var(--white-color);
}
.bot-link {
  color: rgba(255, 255, 255, 0.6);
}
